 .sidebar { width: 240px; min-width: 240px; background-color: #111827; border-right: 1px solid #1f2937; padding: 25px 20px; }
.sidebar ul { list-style: none; }
        .sidebar ul li { margin-bottom: 10px; }
        .sidebar ul li a { color: #9ca3af; text-decoration: none; padding: 10px; display: block; border-radius: 6px; }
        .sidebar ul li a:hover, .sidebar ul li a.active { background-color: #1f2937; color: #10b981; }
 .sidebar .logo { font-size: 20px; font-weight: bold; color: #10b981; margin-bottom: 30px; }
body{
    
    background-color: #111827;
    font-family:JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
}        
 .page-container {
  display: flex;
  min-height: 100vh;
}
.main-content { 
  justify-content: center;
  flex-grow: 1;
  margin-left: 250px;
  padding: 40px;
}
.greeting{
    color: #10b981;
}
.descripton{
    color: #10b981;
}
.credit{
    list-style: none;
    color: #10b981;
}
.course_link{
    text-decoration: none;
}
.course_link:visited{
    color:white;
}

.roadmap-container {
    max-width: 1000px;
    margin: 0 auto;
}

.roadmap-container h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: #10b981; 
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.center-line {
    position: absolute;
    width: 4px;
    background-color: #10b981;
    top: 0;
    bottom: 0;
    left: 50%;
}

.milestone {
    padding: 10px 40px;
    position: relative;
    width: 50%; 
    opacity: 0.9;
}
.left {
    left: 0;
    text-align: right;
}

.right {
    left: 50%;
    text-align: left;
}

/* The Content Boxes */
.content {
    padding: 20px 30px;
    background-color: #1e293b;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #334155;
}

.content h3 {
    margin-top: 5px;
    color: #ffffff;
}

.content p {
    margin-top: 10px;
    font-size: 0.95rem;
    color: #94a3b8;
    line-height: 1.5;
}
.join_course{
    margin-top:10px;
    text-align:center;
    background-color: #1e293b;
    color: #111827;
    border-radius:20px;
    padding:50px 20px;
}
.join_button{
    color:#111827;
    border:none;
    padding:15px 35px;
    border-radius:12px;
    font-size:17px;
    cursor:pointer;
    transition:0.3s;
    background-color: #1e293b;
}
.foot{
    margin-top:70px;
    text-align:center;
    background:#111827;
    border-radius:20px;
    padding:50px 20px;
}